@charset "UTF-8";
/* CSS Document */

#yssContents {
	width:100%;
	margin:0px;
	background-image:url(../images/index_bg.gif);
	background-repeat:repeat;
	text-align:center;
}

#yssContentsArea {
	width:920px;
	margin:0px auto;
	background-color:#fff;
	text-align:center;
}


#yssContentsArea h1{margin:17px 0px 8px 0px;}
#yssTx1 {margin:27px 0px 21px 0px;}
#yssTx2 {margin:0px 0px 10px 0px;}
#yssTx3 {margin:0px 0px 44px 0px;}
#yssContentsArea h2{margin:0px 0px 12px 0px;}
#yssTx4 {margin:0px 0px 32px 0px;}
#yssContentsArea h3{margin:0px 0px 35px 0px;}

.yssPhotoBox {
	width:810px;
	margin:0px auto 30px auto;
}
.yssPhotoBox ul{
	width:810px;
	height:132px;
	margin-right:-22px;
	margin-bottom:26px;
}
.yssPhotoBox li{
	width:248px;
	padding-right:22px;
	float:left;
}

.yssPhotoBox li img{
	border:3px solid #fff;
	margin:0;
	padding:0;
}
.yssPhotoBox li img.bcgrey {
	border-color:#cacaca;
}
.yssChu {
	text-align:right;
	color:#2A618E;
	font-size:10px;
	line-height:1.5em;
	margin-top:20px;
}


#yssTx6 {margin:0px 0px 32px 0px;}
#yssBt {margin:0px 0px 30px 0px;}


/*--- 関連情報 --*/
.relatedBlock {
margin-top:15px !important;
padding-bottom:40px;
padding-left:20px;
}
.relatedBlock p{
float:left;
margin-right:20px;
font-size:12px;
}

/**/