<li><span>2016年10月28日</span><a href="http://www.mitsubishi-motors.co.jp/support/manual/delica_d2.html">『取扱説明書一覧』の「デリカD:2」に「Android Auto / Apple CarPlay スタートアップガイド」を追加しました。</a></li>
<li><span>2016年10月17日</span><a href="http://www.mitsubishi-motors.co.jp/support/manual/delica_d2.html">『取扱説明書一覧』の「デリカD:2」を更新しました。</a></li>
<li><span>2016年06月01日</span><a href="http://www.mitsubishi-motors.co.jp/support/manual/minicab_truck.html">『取扱説明書一覧』の「ミニキャブ トラック」を更新しました。</a></li>
<li><span>2016年05月09日</span><a href="http://www.mitsubishi-motors.co.jp/support/manual/delica_d2.html">『取扱説明書一覧』の「デリカ D:2」を更新しました。</a></li>
<li><span>2016年04月01日</span><a href="http://www.mitsubishi-motors.co.jp/support/manual/proudia.html">『取扱説明書一覧』の「プラウディア」を更新しました。</a></li>
