<ul>
	<li><a href="/special/entertainment/mailmagazine/mmmm/">メールマガジン</a></li>
    <li><a href="/reference/index.html">お問い合わせ</a></li>
    <li><a href="/support/recall/">リコール情報</a></li>
    <li><a href="http://www.mitsubishi-motors.com/jp/investors/" target="_blank">IR情報</a></li>
    <li><a href="http://www.mitsubishi-motors.com/jp/index.html" target="_blank">企業サイト</a></li>
</ul>
