
<div id="mesheader">
<p id="titleimg"><img src="/lineup/common/images/digest_tx_01.gif" alt="ダイジェストムービー" width="178" height="47"></p>
</div>


<p><img src="/lineup/common/images/mes_bg_01.gif" alt="" width="800" height="3"></p>

<div id="digestMove">
<script type="text/javascript">
var so = new SWFObject("swf/digest/main.swf", "digest", "790", "360", "9", "#ffffff");
so.addParam("wmode", "transparent");
so.write("digestMove");
</script>
</div>

<iframe src="common/log/digest.html" style="display:none;"></iframe>

